In [12]:
import pandas as pd
import gmaps
import requests
from config import g_key

In [13]:
gmaps.configure(api_key=g_key)

In [14]:
# Store the CSV you saved created in part one into a DataFrame.
vacation_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Cherskiy,RU,83.64,clear sky,68.75,161.30,Gostinitsa
1,9,Hilo,US,80.60,overcast clouds,19.73,-155.09,Hilo Hawaiian Hotel
2,10,Wahiawa,US,82.40,overcast clouds,21.50,-158.02,Aloha Wahiawa
3,11,Atuona,PF,80.29,overcast clouds,-9.80,-139.03,Villa Enata
4,12,Beyneu,KZ,81.41,clear sky,45.32,55.20,NUR

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_data_df.iterrows()]
locations = vacation_data_df[["Lat", "Lng"]]

In [18]:
import matplotlib
import matplotlib.pyplot as plt
# Add a heatmap of temperature for the vacation spots.
locations = vacation_data_df[["Lat", "Lng"]]
max_temp = vacation_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
vacation_start = vacation_data_df.loc[vacation_data_df["City"] == "Sao Jose Da Coroa Grande"]
vacation_end = vacation_data_df.loc[vacation_data_df["City"] == "Natal"]
vacation_stop1 = vacation_data_df.loc[vacation_data_df["City"] == "Tamandare"]
vacation_stop2 = vacation_data_df.loc[vacation_data_df["City"] == "Pitimbu"]

In [24]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(-8.9, -35.15)
(-5.79, -35.21)
(-8.76, -35.1)
(-7.47, -34.81)

In [28]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode="DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])

In [31]:
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
190,667,Sao Jose Da Coroa Grande,BR,76.51,scattered clouds,-8.90,-35.15,Crôa Mares Hotel
51,182,Natal,BR,75.20,light rain,-5.79,-35.21,Villa Park Hotel | Natal
97,322,Tamandare,BR,76.59,scattered clouds,-8.76,-35.10,Pousada 100 Passos
84,280,Pitimbu,BR,77.56,scattered clouds,-7.47,-34.81,Reserva do Abiaí

In [34]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,667,Sao Jose Da Coroa Grande,BR,76.51,scattered clouds,-8.90,-35.15,Crôa Mares Hotel
1,182,Natal,BR,75.20,light rain,-5.79,-35.21,Villa Park Hotel | Natal
2,322,Tamandare,BR,76.59,scattered clouds,-8.76,-35.10,Pousada 100 Passos
3,280,Pitimbu,BR,77.56,scattered clouds,-7.47,-34.81,Reserva do Abiaí

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat", "Lng"]]

In [47]:
# Add a heatmap of temperature for the vacation spots.

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))